[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cryptography = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-mail = "*"
mailjet-rest = "*"
pycryptodome = "*"
flask-migrate = "*"
python-dotenv = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
