body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 40px;
}

.img-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #343a40;
}

.btn {
    margin-right: 5px;
}

.row .cols-sm-4 {
    margin-bottom: 20px;
    text-align: center;
}
