body {
    background-color: #be3838;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 40px;
}

.img-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #343a40;
}

.btn {
    margin-right: 5px;
}

.row .cols-sm-4 {
    margin-bottom: 20px;
    text-align: center;
}

/* Custom modal styling */
#deleteModal .modal-content {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  #deleteModal .modal-header {
    border-bottom: none;
    padding: 1.5rem;
  }
  
  #deleteModal .modal-footer {
    border-top: none;
    padding: 1.5rem;
  }
  
  #deleteModal .btn-danger {
    padding: 8px 25px;
  }