{% extends "base.html" %}
{% block title %}Welcome - Secure Photo Gallery{% endblock %}

{% block content %}
<div class="welcome-container">
  <img
  src="{{ url_for('static', filename='images/symbol.png') }}"
  alt="Gallery Symbol"
  class="d-block mx-auto mb-4"
  style="width: 14.5em; height: auto;"
/>

  <h1>Welcome to our Secure Photo Gallery!</h1>
  <p>Store and manage your photos with AES encryption.</p>
  
  <div class="mt-5">
    <a href="{{ url_for('login') }}" class="btn btn-primary">
      <i class="fas fa-sign-in-alt mr-2"></i> Login
    </a>
    <a href="{{ url_for('register') }}" class="btn btn-success">
      <i class="fas fa-user-plus mr-2"></i> Register
    </a>
  </div>
  
  <div class="mt-5 pt-4 border-top">
    <p class="text-muted"><i class="fas fa-lock mr-2"></i> Your photos are protected here</p>
  </div>
</div>
{% endblock %}